@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* This blocks unwanted scrollbars */
}


.loader {
  border-width: 4px;
  border-color: white;
  border-top-color: transparent;
  border-style: solid;
  border-radius: 9999px;
}